@model List<ChatWe.ViewModels.ApplicationUser>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Users";
}
<link href="~/assets/css/message.css" rel="stylesheet" />
@* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
 *@
<div class="container mt-4 chat-container">
    <div class="row">
        <div class="card mb-4 border-0 shadow p-4 rounded-4 message-container" style="height: 600px">
            <div class="row mb-3">
                <div class="col text-center">
                    <button class="text-center" style="border-radius: 34px;" disabled>
                        <strong>ChatWe</strong>
                    </button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col text-center">
                    <button class="btn btn-success" data-toggle="modal" data-target="#createGroupModal">Create Group</button>
                </div>
                <div class="col text-center">
                    <a class="btn btn-secondary" href="/Account/Logout">Logout</a>
                </div>
            </div>
                @if (Model.Count > 0)
            {
                       <ul>

                    @foreach (var user in Model)
                    {
                        <li class="card-body">
                            <h5 class="card-title font-weight-bold">@($"{user.FirstName} {user.LastName}")</h5>
                        <p class="card-text text-muted">@user.EmailAddress</p>
                        <a href="#" class="btn btn-primary" onclick="redirectToMessage('@user.UserId')">Message</a>
                        @* <button class="btn btn-danger" onclick="deleteUser('@user.UserId')" disabled>Delete</button> *@

                        </li>
                    }
                </ul>

                }
                else
                {
                <div class="card-footer">
                    <h6 class="text-center text-secondary">Currently there is no users!...</h6>
                </div>

                }
           
        </div>
    </div>
</div>


<!-- Create Group Modal -->
<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createGroupModalLabel">Create Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="groupName">Group Name:</label>
                        <input type="text" class="form-control" id="groupName" placeholder="Enter group name">
                    </div>
                    <div class="form-group">
                        <label for="addUsers">Add Users:</label>
                        <div class="user-checkboxes">
                            @foreach (var user in Model)
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="@($"user_{user.UserId}")" value="@user.UserId">
                                    <label class="form-check-label" for="@($"user_{user.UserId}")">@($"{user.FirstName} {user.LastName}")</label>
                                </div>
                            }
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createGroup()">Create Group</button>
            </div>
        </div>
    </div>
</div>

<script>
    function redirectToMessage(userId) {
        // You can customize the URL or logic to redirect to the messaging page
        var redirectUrl = '/Account/Conversation?userId=' + userId;
        window.location.href = redirectUrl;
    } 
    function deleteUser(userId) {
        // You can customize the URL or logic to redirect to the messaging page
        var redirectUrl = '/Account/DeleteUser?userId=' + userId;
        window.location.href = redirectUrl;
    }
    function createGroup() {
        var groupName = document.getElementById("groupName").value;
        var selectedUserIds = [];

        // Get selected user ids
        var checkboxes = document.querySelectorAll('.user-checkboxes input[type="checkbox"]:checked');
        checkboxes.forEach(function (checkbox) {
            selectedUserIds.push(checkbox.value);
        });

        // TODO: Perform the necessary actions to create the group with the given name and selected users
        console.log("Group Name:", groupName);
        console.log("Selected User Ids:", selectedUserIds);

        // Close the modal using Bootstrap's modal method
        $('#createGroupModal').modal('hide');
    }
</script>
